.lb-page{clear: both;position: absolute;bottom: 90px;right: 0px;}
.lb-page li{float: left;width: 25px;height: 25px;line-height: 25px;font-size: 12px;color: #717171;border: 1px solid #b9b9b9;margin-right: 5px;text-align: center;border-radius: 3px;}
.lb-page .lb-on{color: #ffffff;background: #4f9af8;border:1px solid #3d76bd;}
